.dlc-form {
    background: #121212;
    position: absolute;
    width: fit-content;
    height:fit-content;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
    padding-top: 0%;
    border: darkgrey 1px solid;
    border-radius: 2px;
    box-shadow: 2px;
    font-size: 18px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    box-shadow: 2px 2px;
}

.dlcList {
    display: grid;
    grid-template-columns: 350px 30px 350px 30px;
    grid-row: auto auto;
    gap: 30px;
}

label {
    color: white;
}

label:hover {
    cursor: pointer;
}

input:hover {
    cursor: pointer;
}

.dlcTitle{
    color: white;
    font-size: 35px;
    height: fit-content;
    height: 5px;
}

@media (max-width: 900px) {
    .dlcList {
        display: grid;
        grid-template-columns: 200px 50px;
        grid-row: auto auto;
        gap: 25px;
        height: 300px;
        overflow-y: auto;
        grid-template-rows: repeat(3, 45px)
    }
    
    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888; 
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }
}